In [1]:
import pandas as pd
# get list of stopwords with nltk
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('french'))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/beatrizmourino/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
stop_words

{'ai',
 'aie',
 'aient',
 'aies',
 'ait',
 'as',
 'au',
 'aura',
 'aurai',
 'auraient',
 'aurais',
 'aurait',
 'auras',
 'aurez',
 'auriez',
 'aurions',
 'aurons',
 'auront',
 'aux',
 'avaient',
 'avais',
 'avait',
 'avec',
 'avez',
 'aviez',
 'avions',
 'avons',
 'ayant',
 'ayante',
 'ayantes',
 'ayants',
 'ayez',
 'ayons',
 'c',
 'ce',
 'ces',
 'd',
 'dans',
 'de',
 'des',
 'du',
 'elle',
 'en',
 'es',
 'est',
 'et',
 'eu',
 'eue',
 'eues',
 'eurent',
 'eus',
 'eusse',
 'eussent',
 'eusses',
 'eussiez',
 'eussions',
 'eut',
 'eux',
 'eûmes',
 'eût',
 'eûtes',
 'furent',
 'fus',
 'fusse',
 'fussent',
 'fusses',
 'fussiez',
 'fussions',
 'fut',
 'fûmes',
 'fût',
 'fûtes',
 'il',
 'ils',
 'j',
 'je',
 'l',
 'la',
 'le',
 'les',
 'leur',
 'lui',
 'm',
 'ma',
 'mais',
 'me',
 'mes',
 'moi',
 'mon',
 'même',
 'n',
 'ne',
 'nos',
 'notre',
 'nous',
 'on',
 'ont',
 'ou',
 'par',
 'pas',
 'pour',
 'qu',
 'que',
 'qui',
 's',
 'sa',
 'se',
 'sera',
 'serai',
 'seraient',
 'serais',
 'serait',
 'seras',
 'serez',
 'seriez',
 'serions',
 'serons',
 'seront',
 'ses',
 'soient',
 'sois',
 'soit',
 'sommes',
 'son',
 'sont',
 'soyez',
 'soyons',
 'suis',
 'sur',
 't',
 'ta',
 'te',
 'tes',
 'toi',
 'ton',
 'tu',
 'un',
 'une',
 'vos',
 'votre',
 'vous',
 'y',
 'à',
 'étaient',
 'étais',
 'était',
 'étant',
 'étante',
 'étantes',
 'étants',
 'étiez',
 'étions',
 'été',
 'étée',
 'étées',
 'étés',
 'êtes'}

In [3]:
training = pd.read_csv('../available_datasets/training_data.csv')

In [4]:
training.keys()

Index(['id', 'sentence', 'difficulty'], dtype='object')

In [5]:
training.head()

   id                                           sentence difficulty
0   0  Les coûts kilométriques réels peuvent diverger...         C1
1   1  Le bleu, c'est ma couleur préférée mais je n'a...         A1
2   2  Le test de niveau en français est sur le site ...         A1
3   3           Est-ce que ton mari est aussi de Boston?         A1
4   4  Dans les écoles de commerce, dans les couloirs...         B1

In [6]:
training.describe()

                id
count  4800.000000
mean   2399.500000
std    1385.784976
min       0.000000
25%    1199.750000
50%    2399.500000
75%    3599.250000
max    4799.000000

In [7]:
t1 = training['sentence'][0]

In [8]:
t1_words = t1.split()
t1_words_nostop = [word for word in t1_words if word.lower() not in stop_words]

In [9]:
set(t1_words_nostop)

{'coûts',
 "d'occupation",
 'diverger',
 'etc.',
 'flux',
 'fonction',
 'kilométriques',
 "l'infrastructure",
 'lignes,',
 'moyen',
 'moyennes',
 'peuvent',
 'remplissage,',
 'réels',
 'sensiblement',
 'taux',
 'topographie',
 'trafic,',
 'transport',
 'utilisé,',
 'utilisée,',
 'valeurs'}